Guiding question: How accurately can I predict GDP of a country, without knowing the country name, based solely on political, environmental, financial, and health data? For the USA, how accurately can I forecast GDP by percent change and GDP in dollars?

Imports below:

In [1]:
import pandas as pd
import numpy as np

Reading in world bank data:

In [2]:
df = pd.read_csv("Data/World bank massive data set_csv/ESGData.csv" 
)
df_gdp_in_dollars = pd.read_csv("Data/Data_Extract_From_World_Development_Indicators/GDP data.csv" 
)

Getting a look at the GDP data for countries with the 5 highest GDP's in 2018:

In [3]:
df_gdp_in_dollars.head()

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,GDP (current US$),NY.GDP.MKTP.CD,World,WLD,1369443925011.89,1425115081577.84,1530068789423.03,1648304927596.87,1805673902285.74,1966277080224.85,...,7.346035e+13,7.516178e+13,7.731634e+13,7.945325e+13,7.521772e+13,7.636900e+13,8.130603e+13,8.643942e+13,8.779853e+13,..
1,GDP (current US$),NY.GDP.MKTP.CD,United States,USA,543300000000,563300000000,605100000000,638600000000,685800000000,743700000000,...,1.554258e+13,1.619701e+13,1.678485e+13,1.752716e+13,1.822470e+13,1.871496e+13,1.951935e+13,2.058016e+13,2.143323e+13,..
2,GDP (current US$),NY.GDP.MKTP.CD,United Kingdom,GBR,73233967692.1028,77741965703.3544,81247564156.8246,86561961812.3249,94407558351.1616,101824755078.991,...,2.659310e+12,2.704888e+12,2.786023e+12,3.063803e+12,2.928591e+12,2.694283e+12,2.666229e+12,2.860668e+12,2.829108e+12,..
3,GDP (current US$),NY.GDP.MKTP.CD,Japan,JPN,44307342950.4,53508617739.3778,60723018683.7333,69498131797.3333,81749006381.5111,90950278257.7778,...,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12,4.922538e+12,4.866864e+12,4.954807e+12,5.081770e+12,..
4,GDP (current US$),NY.GDP.MKTP.CD,Germany,DEU,..,..,..,..,..,..,...,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.356236e+12,3.467498e+12,3.682602e+12,3.963768e+12,3.861124e+12,..

Flipping the dataframe, renaming column headings, and removing unneeded rows:

In [4]:
df_gdp_in_dollars = df_gdp_in_dollars.T
df_gdp_in_dollars.columns = df_gdp_in_dollars.iloc[2]
df_gdp_in_dollars = df_gdp_in_dollars.iloc[4:, :6]
df_gdp_in_dollars.head()

Country Name,World,United States,United Kingdom,Japan,Germany,China
1960 [YR1960],1369443925011.89,543300000000,73233967692.1028,44307342950.4,..,59716467625.3148
1961 [YR1961],1425115081577.84,563300000000,77741965703.3544,53508617739.3778,..,50056868957.6732
1962 [YR1962],1530068789423.03,605100000000,81247564156.8246,60723018683.7333,..,47209359005.6057
1963 [YR1963],1648304927596.87,638600000000,86561961812.3249,69498131797.3333,..,50706799902.5104
1964 [YR1964],1805673902285.74,685800000000,94407558351.1616,81749006381.5111,..,59708343488.5043

Add cleaned column for date:

In [5]:
counter = 1960.0
list_to_append = []
for i in df_gdp_in_dollars["United States"]:
    list_to_append.append(counter)
    counter+=1
df_gdp_in_dollars["date"] = list_to_append

Renaming Column Headings To Be More Specific:

In [6]:
df_gdp_in_dollars.columns = ['World GDP', "United States GDP (Dollars)", "United Kingdom GDP (Dollars)", "Japan GDP (Dollars)", "Germany GDP (Dollars)", "China GDP (Dollars)", "date"]

Looking at the cleaned GDP dataset and exporting it as a new csv file

In [7]:
df_gdp_in_dollars.head()

,World GDP,United States GDP (Dollars),United Kingdom GDP (Dollars),Japan GDP (Dollars),Germany GDP (Dollars),China GDP (Dollars),date
1960 [YR1960],1369443925011.89,543300000000,73233967692.1028,44307342950.4,..,59716467625.3148,1960.0
1961 [YR1961],1425115081577.84,563300000000,77741965703.3544,53508617739.3778,..,50056868957.6732,1961.0
1962 [YR1962],1530068789423.03,605100000000,81247564156.8246,60723018683.7333,..,47209359005.6057,1962.0
1963 [YR1963],1648304927596.87,638600000000,86561961812.3249,69498131797.3333,..,50706799902.5104,1963.0
1964 [YR1964],1805673902285.74,685800000000,94407558351.1616,81749006381.5111,..,59708343488.5043,1964.0

In [8]:
df_gdp_in_dollars.to_csv("Data/cleaned_df_gdp_in_dollars.csv")

Get polticial, environmental, financial and health data on top 5 countries by GDP:

In [9]:
df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
16008,Zimbabwe,ZWE,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN,NaN
16009,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27.214542,27.214585,27.214585,NaN,NaN,NaN,NaN
16010,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.38000,5.330000,5.290000,5.240000,5.150000,5.070000,5.020000,5.73,NaN,NaN
16011,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.400000,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16012,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.38622,-1.256964,-1.165902,-1.177471,-1.194492,-1.123221,-1.141875,NaN,NaN,NaN

Select each country in the top 5 GDP's from 2018 from my master data set and create a new dataframe:

In [10]:
df_USA = df.loc[df['Country Name'] == "United States"]
df_EU = df.loc[df['Country Name'] == "European Union"]
df_China = df.loc[df['Country Name'] == "China"]
df_Japan = df.loc[df['Country Name'] == "Japan"]
df_Germany = df.loc[df['Country Name'] == "Germany"]
df_United_Kingdom = df.loc[df['Country Name'] == "United Kingdom"]

Show my USA data frame before cleaning:

In [11]:
df_USA.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
15410,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
15411,United States,USA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN
15412,United States,USA,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.358070,0.308207,0.072649,0.134722,0.199587,0.370429,NaN,NaN,NaN,NaN
15413,United States,USA,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
15414,United States,USA,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,48.860242,48.476137,48.19794,47.932516,47.589792,...,44.366793,44.588037,44.369068,44.369068,NaN,NaN,NaN,NaN,NaN,NaN

Cleaning my USA data frame, selecting certain features, reorienting the dataframe, adding in GDP dollar values, removing null values, etc

In [12]:
df_USA = df_USA.T
df_USA.columns = df_USA.iloc[2]

df_USA = df_USA[["Adjusted savings: natural resources depletion (% of GNI)", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ]

df_USA = df_USA.tail(43)

df_USA = df_USA.dropna()
df_USA["date"] = df_USA.index
df_USA = df_USA[["Adjusted savings: natural resources depletion (% of GNI)", "date", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ].astype(float)
df_USA_GDP = df_gdp_in_dollars[df_gdp_in_dollars['date'].between(1980, 2015)]
df_USA_GDP = df_USA_GDP[["United States GDP (Dollars)", "date"]]
df_USA = pd.merge(df_USA_GDP, df_USA) 
df_USA.rename(columns={"United States GDP (Dollars)": "GDP (Dollars)"}, inplace=True)

Showing my USA dataframe after cleaning:

In [13]:
df_USA.head(5)

,GDP (Dollars),date,Adjusted savings: natural resources depletion (% of GNI),Agricultural land (% of land area),CO2 emissions (metric tons per capita),"Energy imports, net (% of energy use)",Energy use (kg of oil equivalent per capita),"Fertility rate, total (births per woman)",Food production index (2004-2006 = 100),GDP growth (annual %),"Hospital beds (per 1,000 people)","Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents",Population ages 65 and above (% of total population),Population density (people per sq. km of land area),Prevalence of overweight (% of adults)
0,2.85731e+12,1980.0,4.017751,46.747993,20.786488,13.931370,7942.253018,1.8395,69.19,-0.256752,6.0,73.609756,15.0,62098.0,11.556542,24.809039,44.0
1,3.20704e+12,1981.0,2.715465,46.747993,19.766764,11.801346,7647.538054,1.8120,75.38,2.537719,5.9,74.009756,14.4,62404.0,11.685836,25.053718,44.7
2,3.34379e+12,1982.0,1.348634,47.101308,18.590495,9.048656,7259.078899,1.8275,75.20,-1.802874,5.9,74.360976,13.9,63316.0,11.798771,25.293701,45.3
3,3.63404e+12,1983.0,1.836395,47.101308,18.571544,12.770581,7199.118533,1.7990,64.44,4.583927,5.8,74.463415,13.4,59391.0,11.905937,25.526042,46.0
4,4.03761e+12,1984.0,1.710313,47.101308,18.976750,9.513539,7443.320017,1.8065,73.69,7.236620,5.7,74.563415,13.0,61841.0,12.016449,25.748011,46.7

Cleaning my China data frame, selecting certain features, reorienting the dataframe, adding in GDP dollar values, removing null values, etc

In [14]:
df_China = df_China.T
df_China.columns = df_China.iloc[2]

df_China = df_China[["Adjusted savings: natural resources depletion (% of GNI)", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ]

df_China = df_China.tail(43)

df_China = df_China.dropna()
df_China["date"] = df_China.index
df_China = df_China[["Adjusted savings: natural resources depletion (% of GNI)", "date", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ].astype(float)
df_China_GDP = df_gdp_in_dollars[df_gdp_in_dollars['date'].between(1985, 2014)]
df_China_GDP = df_China_GDP[["China GDP (Dollars)", "date"]]
df_China = pd.merge(df_China_GDP, df_China) 
df_China.rename(columns={"China GDP (Dollars)": "GDP (Dollars)"}, inplace=True)

Cleaning my Japan data frame, selecting certain features, reorienting the dataframe, adding in GDP dollar values, removing null values, etc

In [15]:
df_Japan = df_Japan.T
df_Japan.columns = df_Japan.iloc[2]

df_Japan = df_Japan[["Adjusted savings: natural resources depletion (% of GNI)", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ]

df_Japan = df_Japan.tail(43)

df_Japan = df_Japan.dropna()
df_Japan["date"] = df_Japan.index
df_Japan = df_Japan[["Adjusted savings: natural resources depletion (% of GNI)", "date", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ].astype(float)
df_Japan_GDP = df_gdp_in_dollars[df_gdp_in_dollars['date'].between(1980, 2015)]
df_Japan_GDP = df_Japan_GDP[["Japan GDP (Dollars)", "date"]]
df_Japan = pd.merge(df_Japan_GDP, df_Japan) 
df_Japan.rename(columns={"Japan GDP (Dollars)": "GDP (Dollars)"}, inplace=True)

Cleaning my Germany data frame, selecting certain features, reorienting the dataframe, adding in GDP dollar values, removing null values, etc

In [16]:
df_Germany = df_Germany.T
df_Germany.columns = df_Germany.iloc[2]

df_Germany = df_Germany[["Adjusted savings: natural resources depletion (% of GNI)", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ]

df_Germany = df_Germany.tail(43)

df_Germany = df_Germany.dropna()
df_Germany["date"] = df_Germany.index
df_Germany = df_Germany[["Adjusted savings: natural resources depletion (% of GNI)", "date", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ].astype(float)
df_Germany_GDP = df_gdp_in_dollars[df_gdp_in_dollars['date'].between(1991, 2015)]
df_Germany_GDP = df_Germany_GDP[["Germany GDP (Dollars)", "date"]]
df_Germany = pd.merge(df_Germany_GDP, df_Germany) 
df_Germany.rename(columns={"Germany GDP (Dollars)": "GDP (Dollars)"}, inplace=True)

Cleaning my Unite Kingdom data frame, selecting certain features, reorienting the dataframe, adding in GDP dollar values, removing null values, etc

In [17]:
df_United_Kingdom = df_United_Kingdom.T
df_United_Kingdom.columns = df_United_Kingdom.iloc[2]

df_United_Kingdom = df_United_Kingdom[["Adjusted savings: natural resources depletion (% of GNI)", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ]

df_United_Kingdom = df_United_Kingdom.tail(43)

df_United_Kingdom = df_United_Kingdom.dropna()
df_United_Kingdom["date"] = df_United_Kingdom.index
df_United_Kingdom = df_United_Kingdom[["Adjusted savings: natural resources depletion (% of GNI)", "date", "Agricultural land (% of land area)", "CO2 emissions (metric tons per capita)", "Energy imports, net (% of energy use)", "Energy use (kg of oil equivalent per capita)","Fertility rate, total (births per woman)", "Food production index (2004-2006 = 100)", "GDP growth (annual %)", "Hospital beds (per 1,000 people)", "Life expectancy at birth, total (years)", "Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents", "Population ages 65 and above (% of total population)", "Population density (people per sq. km of land area)", "Prevalence of overweight (% of adults)"] ].astype(float)
df_United_Kingdom_GDP = df_gdp_in_dollars[df_gdp_in_dollars['date'].between(1980, 2015)]
df_United_Kingdom_GDP = df_United_Kingdom_GDP[["United Kingdom GDP (Dollars)", "date"]]
df_United_Kingdom  = pd.merge(df_United_Kingdom_GDP, df_United_Kingdom) 
df_United_Kingdom.rename(columns={"United Kingdom GDP (Dollars)": "GDP (Dollars)"}, inplace=True)

Checking for consistent feature amounts before merging dataframes:

In [18]:
df_USA.shape, df_China.shape, df_Japan.shape, df_Germany.shape, df_United_Kingdom.shape

((36, 17), (30, 17), (25, 17), (25, 17), (28, 17))

Merging all datframes back together

In [19]:
df_multiple_countries = pd.concat([df_USA, df_China, df_Japan, df_Germany, df_United_Kingdom], ignore_index=True)
df_multiple_countries['GDP (Dollars)'] = df_multiple_countries['GDP (Dollars)'].astype(float)
df_multiple_countries.head()

,GDP (Dollars),date,Adjusted savings: natural resources depletion (% of GNI),Agricultural land (% of land area),CO2 emissions (metric tons per capita),"Energy imports, net (% of energy use)",Energy use (kg of oil equivalent per capita),"Fertility rate, total (births per woman)",Food production index (2004-2006 = 100),GDP growth (annual %),"Hospital beds (per 1,000 people)","Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)","Patent applications, residents",Population ages 65 and above (% of total population),Population density (people per sq. km of land area),Prevalence of overweight (% of adults)
0,2.857307e+12,1980.0,4.017751,46.747993,20.786488,13.931370,7942.253018,1.8395,69.19,-0.256752,6.0,73.609756,15.0,62098.0,11.556542,24.809039,44.0
1,3.207042e+12,1981.0,2.715465,46.747993,19.766764,11.801346,7647.538054,1.8120,75.38,2.537719,5.9,74.009756,14.4,62404.0,11.685836,25.053718,44.7
2,3.343789e+12,1982.0,1.348634,47.101308,18.590495,9.048656,7259.078899,1.8275,75.20,-1.802874,5.9,74.360976,13.9,63316.0,11.798771,25.293701,45.3
3,3.634038e+12,1983.0,1.836395,47.101308,18.571544,12.770581,7199.118533,1.7990,64.44,4.583927,5.8,74.463415,13.4,59391.0,11.905937,25.526042,46.0
4,4.037613e+12,1984.0,1.710313,47.101308,18.976750,9.513539,7443.320017,1.8065,73.69,7.236620,5.7,74.563415,13.0,61841.0,12.016449,25.748011,46.7

Exporting cleaned data frames:

In [20]:
df_multiple_countries.to_csv("Data/cleaned_top_5_gdp_countries_features.csv")

In [21]:
df_USA.to_csv("Data/cleaned_USA_data_with_multiple_features.csv")

USA datframe cleaned to show year and GDP growth without extra features:

In [39]:
df_USA_2 = df.loc[df['Country Name'] == "United States"]

X_USA = df_USA_2.loc[df_USA_2["Indicator Name"] == "GDP growth (annual %)"]

X_USA = X_USA.drop(columns=["Country Name", "Country Code", "Indicator Name", "Indicator Code", "1960", "2020","2050", "Unnamed: 66"])
X_USA = X_USA.T

X_USA.rename(columns = {15433:"GDP growth (annual %)"}, inplace = True) 
X_USA.rename(columns = {" ":'Date'}, inplace = True) 

X_USA["date"] = X_USA.index

X_USA["date"] = pd.to_datetime(X_USA["date"])


df_gdp_in_dollars_USA = df_gdp_in_dollars[["United States GDP (Dollars)", "date"]].iloc[1:-1]
df_gdp_in_dollars_USA["United States GDP (Dollars)"] = df_gdp_in_dollars_USA["United States GDP (Dollars)"].astype(float) 

date_time_merge_column = []
for i in X_USA["date"]:
    date_time_merge_column.append(i)
df_gdp_in_dollars_USA["date"] = date_time_merge_column

X_USA = pd.merge(X_USA, df_gdp_in_dollars_USA)

Print out of the datframe:

In [40]:
X_USA.head()

   GDP growth (annual %)       date  United States GDP (Dollars)
0                    2.3 1961-01-01                 5.633000e+11
1                    6.1 1962-01-01                 6.051000e+11
2                    4.4 1963-01-01                 6.386000e+11
3                    5.8 1964-01-01                 6.858000e+11
4                    6.4 1965-01-01                 7.437000e+11

Exporting cleaned data frame:

In [41]:
X_USA.to_csv("Data/Cleaned_USA_GDP_no_extra_featues.csv")